@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/* line 7, ../../app/scss/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 11, ../../app/scss/_typography.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}

/* line 16, ../../app/scss/_typography.scss */
h1 {
  font-size: 8rem;
  font-weight: 400;
  margin-top: .25em;
  margin-bottom: .25em;
}

/* line 23, ../../app/scss/_typography.scss */
h2 {
  font-size: 2.2rem;
  color: #444444;
  margin-top: .25em;
  margin-bottom: .25em;
}

/* line 30, ../../app/scss/_typography.scss */
a {
  color: #444444;
}
/* line 33, ../../app/scss/_typography.scss */
a [class^="icon-"], a [class*=" icon-"] {
  text-decoration: none;
}

/* line 38, ../../app/scss/_typography.scss */
p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.4em;
}

/* line 44, ../../app/scss/_typography.scss */
strong {
  font-weight: 600;
}

/* line 48, ../../app/scss/_typography.scss */
i {
  margin-left: .25em;
  margin-right: .25em;
}
/* line 52, ../../app/scss/_typography.scss */
i:hover {
  color: #111111;
}

/* line 20, ../../app/scss/init.scss */
body {
  background: url('../images/bg.jpg?1370866433') no-repeat top left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #333333;
}

/* line 26, ../../app/scss/init.scss */
.page {
  *zoom: 1;
  max-width: 67.75em;
  _width: 67.75em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 32, ../../app/scss/init.scss */
article {
  margin-left: 42.43542%;
  margin-right: 8.48708%;
  padding-left: 3.32103%;
  padding-right: 3.32103%;
  width: 49.07749%;
  float: left;
  margin-right: 1.84502%;
  display: inline;
  background: url('../images/rgbapng/aaaaaa59.png?1370866433');
  background: rgba(170, 170, 170, 0.34902);
}

/* line 39, ../../app/scss/init.scss */
.find-me {
  margin-top: 2em;
  margin-bottom: 2em;
  border-top: 1px solid #999;
  padding-top: .25em;
  padding-bottom: .25em;
}

/* line 47, ../../app/scss/init.scss */
button {
  margin-top: .25em;
  margin-bottom: .25em;
  cursor: pointer;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(50%, #333333), color-stop(100%, #444444));
  background-image: -webkit-linear-gradient(#444444, #333333, #444444);
  background-image: -moz-linear-gradient(#444444, #333333, #444444);
  background-image: -o-linear-gradient(#444444, #333333, #444444);
  background-image: linear-gradient(#444444, #333333, #444444);
  font-size: 18px;
  border: solid 1px #444;
  color: #EEE;
  text-shadow: 0px 0px 1px #aaaaaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 59, ../../app/scss/init.scss */
button .icon-envelope,
button .icon-envelope-alt {
  padding-right: .25em;
}
/* line 63, ../../app/scss/init.scss */
button .icon-envelope-alt {
  display: none;
}
/* line 68, ../../app/scss/init.scss */
button:hover .icon-envelope-alt {
  display: inline;
}
/* line 72, ../../app/scss/init.scss */
button:hover .icon-envelope {
  display: none;
}
