!!! 5
%html
	%head
		%title= "Jeffrey Hann - Halifax, Nova Scotia"
		%meta{ :content => "Jeffrey Hann. Creative Thinking, and Modern Development", :name => "description" }
		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
		%link{ :href => "css/init.css", :media => "screen", :rel => "stylesheet" }
	%body
		.page
			%article
				%section
					%h1 Jeffrey Hann
					%h2 Creative Thinking, and Modern Development