!!! 5
html
  head
    title Jeffrey Hann - Halifax, Nova Scotia
    meta(content='Jeffrey Hann. Creative Thinking, and Modern Development', name='description')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    link(href='css/init.css', media='screen', rel='stylesheet')
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")
  body
    .page
      article
        section
            :markdown
              # Jeffrey Hann
              ## Creative Thinking, and Modern Development
          .bio
            button.email
              i.icon-envelope
              i.icon-envelope-alt
              | Email Me
            :markdown
              Jeff has been working in **Halifax**'s IT industry for several years and knows his way around a computer. 
              He is an **Adobe Certified Expert** and a **Zend Certified Engineer**.

              Jeff is constantly coming up with **new** and **exciting** ideas, keeping clients
              on the **cutting edge** of what's possible on the web. Jeff's **friendly** and
              **outgoing** personality, **creativity** and keen attention to **detail** make him
              invaluable as a **developer**.

              Specialties:     
              PHP, WordPress, HTML5, CSS3, jQuery, LESS/SASS, Backbone.js, Mobile Development, Flash AS3, Site Planning

        
        a(href="http://goo.gl/maps/TvTMA")
          i.icon-map-marker.icon-2x
          | Halifax, Nova Scotia

        .find-me
          a(href="https://twitter.com/obihann")
            i.icon-twitter-sign.icon-2x

          a(href="http://ca.linkedin.com/in/jeffreyhann")
            i.icon-linkedin-sign.icon-2x

          a(href="https://github.com/obihann")
            i.icon-github.icon-2x

          a(href="http://instagram.com/obihann")
            i.icon-instagram.icon-2x

          a(href="http://www.flickr.com/photos/hannjeff_87")
            i.icon-flickr.icon-2x