!!! 5
html
  head
    title Jeffrey Hann - Halifax, Nova Scotia
    meta(content='Jeffrey Hann. Creative Thinking, and Modern Development', name='description')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    link(href='css/init.css', media='screen', rel='stylesheet')
  body
    .page
      article
        section
          h1 Jeffrey Hann
          h2 Creative Thinking, and Modern Development
          .bio
            :markdown
              Jeff has been working in **Halifax**'s IT industry for several years and knows his way around a computer. 
              He is an **strong** Adobe Certified Expert and a **strong** Zend Certified Engineer.
